// --------- Login Style ------------
.container{
  .row{
    .col-4{
      .login_logo{
        width: 200px;
        margin-top: 30px;
      }
      .card{
        .card-body{
          .link{
            font-size: 13px;
          }
        }
      }
    }
  }
}